*{
  box-sizing: border-box; 
}

nav{
  margin-bottom: 20px;
  height: 75px;
}

ul.css-menu {
  list-style: none
  }
  
ul.css-menu li {
  display: inline;
}

ul.css-menu li a {
  font-family: Tahoma, Geneva, sans-serif;
  text-decoration: none;
  background: #5c6cb7;
  font-weight: bold;
  color: #ffaa00;
  padding: 6px 10px 6px 10px
}

ul.css-menu li a:hover {
  padding: 6px 10px 6px 10px;
  font-weight: bold;
  background: #364d95;
  color: #ff9900
}

ul.css-menu li a:active {
  background: green;
}

.divclass h2{
  text-align: center;
}