*{
  box-sizing: border-box; 
}

nav{
  margin-bottom: 20px;
  height: 75px;
}

ul.css-menu {
  list-style: none
  }
  
ul.css-menu li {
  display: inline;
}

ul.css-menu li a {
  font-family: Tahoma, Geneva, sans-serif;
  text-decoration: none;
  background: #5c6cb7;
  font-weight: bold;
  color: #ffaa00;
  padding: 6px 10px 6px 10px
}

ul.css-menu li a:hover {
  padding: 6px 10px 6px 10px;
  font-weight: bold;
  background: #364d95;
  color: #ff9900
}

ul.css-menu li a:active {
  background: green;
}

.divtable table{
  border-spacing: "0px";
  margin-left: "auto";
  margin-right: "auto";
  text-align: center;
}

.divtable table tr:first-child td:first-child ~ td{
  background: gray;
  border: 1px solid #000;
  width: 70px;
  height: 70px;
}

.divtable table tr:nth-child(2) td:first-child{
  background: gray;
  border: 1px solid #000;
  width: 70px;
  height: 70px;
}

span{
  display: block;
}