*{
  box-sizing: border-box; 
}

nav{
  margin-bottom: 20px;
  height: 75px;
}

ul {
    list-style: none; /*убираем маркеры списка*/
    margin: 0; /*убираем отступы*/
    padding-left: 0; /*убираем отступы*/
    margin-top:25px; /*делаем отступ сверху*/
  }
  a {
    text-decoration: none; /*убираем подчеркивание текста ссылок*/
    background:#30A8E6; /*добавляем фон к пункту меню*/
    color:#fff; /*меняем цвет ссылок*/
    padding:10px; /*добавляем отступ*/
    font-family: arial; /*меняем шрифт*/
    border-radius:4px; /*добавляем скругление*/
  }
  a:hover {
    background:#1C85BB;/*добавляем эффект при наведении*/
  }
  li {
    float:left; /*Размещаем список горизонтально для реализации меню*/
    margin-right:5px; /*Добавляем отступ у пунктов меню*/
    
  }

  dl dt {
    float: left;
    font-weight: bold;
  }
  
  dl dt::after {
    content: ':';
    display: inline-block;
    margin-right: 5px;
  }